
body {
  background-color: tan;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 100px;
}

#informationContainer {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

#prevButton {
  font-size: 25px;
  text-align: center;
  display: inline-block;
  background-color: black;
  color: white;
  margin-left: 150px;
}

.slider {
  text-align: ;
  display: inline-block;
  width: 300px;
  
}

#nextButton {
  font-size: 25px;
  text-align: center;
  float: right;
  display: inline-block;
  background-color: black;
  color: white;
  margin-right: 150px;
}

.informationAppend {
  font-size: 35px;
  font-family: cursive;
}

.blocks {
  width: 10px;
  height: 10px;
  float: left;
  border: 1px solid black;
}
